<a href="https://colab.research.google.com/github/desbaa32/Master2BD_tp_pro/blob/master/TP_1_Indexation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Creation et MAnipulation donnees

#### Structure CSV

In [ ]:
emp_dict={
    "ID": [1, 2, 3, 4],
    "Nom": ["Alice", "Bob", "Charlie","Davide"],
    "Age":[25,30,22,35],
    "Departement": ["RH","Finance","Informatique","Marketing"]
}
print(emp_dict)

{'ID': [1, 2, 3, 4], 'Nom': ['Alice', 'Bob', 'Charlie', 'Davide'], 'Age': [25, 30, 22, 35], 'Departement': ['RH', 'Finance', 'Informatique', 'Marketing']}

In [ ]:
import pandas as pd
df=pd.DataFrame(emp_dict)
print(df)

   ID      Nom  Age   Departement
0   1    Alice   25            RH
1   2      Bob   30       Finance
2   3  Charlie   22  Informatique
3   4   Davide   35     Marketing

In [ ]:
df.loc[len(df)] = {"ID": 5, "Nom": "Emma", "Age": 28, "Departement": "Communication"}
print(df)

   ID      Nom  Age    Departement
0   1    Alice   25             RH
1   2      Bob   30        Finance
2   3  Charlie   22   Informatique
3   4   Davide   35      Marketing
4   5     Emma   28  Communication

In [ ]:
df.to_csv("employe_data.csv",index=False)

#### semi-Structure Json

In [ ]:
products_dict={
    "ID": [101, 102, 103],
    "Nom": ["Ordinateur", "Smartphone", "Casque"],
    "Prix":[1200,800,150,],
    "Stock": ["10","25","50"]
}
print(products_dict)

{'ID': [101, 102, 103], 'Nom': ['Ordinateur', 'Smartphone', 'Casque'], 'Prix': [1200, 800, 150], 'Stock': ['10', '25', '50']}

In [ ]:
df2=pd.DataFrame(products_dict)
print(df2)

    ID         Nom  Prix Stock
0  101  Ordinateur  1200    10
1  102  Smartphone   800    25
2  103      Casque   150    50

In [ ]:
df2.to_json("products_data.json",orient="records")

In [ ]:
df2_=pd.read_json("products_data.json")
print(df2_)

    ID         Nom  Prix  Stock
0  101  Ordinateur  1200     10
1  102  Smartphone   800     25
2  103      Casque   150     50

In [ ]:
df2_.loc[len(df2_)]={"ID":104,"Nom":"Tablette","Prix":600,"Stock":30}
print(df2_)

    ID         Nom  Prix  Stock
0  101  Ordinateur  1200     10
1  102  Smartphone   800     25
2  103      Casque   150     50
3  104    Tablette   600     30

In [ ]:
df2_.to_json("products_data2.json",orient="records")

In [ ]:
products_dict={
    "ID": [101, 102, 103],
    "Nom":["Ordinateur": {
        "ID_ord": 1,
        "Nom": "itel",
        "Prix": 1200,
        "Stock": 10,},
          "Smartphone": {
        "ID_smart": 2,
        "Nom": "Samsung",
        "Prix": 800,
        "Stock": 25,},
          "Casque": {
        "ID_cas": 3,
        "Nom": "Sony",
        "Prix": 150,
        "Stock": 50,},
           "tablette"

    ]

    "Nom": ["Ordinateur":{
        "ID_ord": 1,
        "Nom": "itel",
        "Prix": 1200,
        "Stock": 10,},
            , "Smartphone",
            "Casque"],

}
print(products_dict)